name: Rename Directories

on:
  push:
    branches:
      - main

jobs:
  rename:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Rename directories
        run: python rename_directories.py

      - name: Pull latest changes
        run: |
          git pull origin main
          git add .
          git commit -m "Зафиксированные незафиксированные изменения"

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Automatically rename directories" || echo "No changes to commit"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.MY_PERSONAL_TOKEN }}
